<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.example.weishj.mytester"
		  android:versionCode="1">

	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>-->
	<!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>-->
	<uses-permission android:name="android.permission.WRITE_SETTINGS"/>
	<uses-permission android:name="android.permission.READ_CONTACTS"/>

	<!-- android:hasFragileUserData="true" 属性可在应用删除时询问用户是否保留沙盒目录-->
	<application
		android:name=".MyApplication"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity android:name=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity android:name=".ui.MemoryLeakActivity"/>
		<activity android:name=".ui.RouterActivity"/>
		<activity android:name=".ui.WlanActivity"/>
		<activity android:name=".ui.CustomizedViewActivity"/>
		<activity android:name=".ui.FileMonitorActivity"/>
		<activity android:name=".ui.BackServiceActivity"/>
		<!-- exported="true" 属性用于测试通过Intent.setComponent()方式打开其他应用的指定Activity，被打开的Activity必须设为true-->
		<activity android:name=".ui.FileShareActivity" android:exported="true"/>
		<activity android:name=".ui.ReadContactActivity" />
		<activity android:name=".ui.DeviceInfoActivity" />

		<!-- 标准FileProvider用法，需要指定filepaths.xml文件 -->
		<!--<provider-->
			<!--android:name="android.support.v4.content.FileProvider"-->
			<!--android:authorities="${applicationId}.mob_file_provider"-->
			<!--android:grantUriPermissions="true"-->
			<!--android:exported="false">-->
			<!--<meta-data-->
				<!--android:name="android.support.FILE_PROVIDER_PATHS"-->
				<!--android:resource="@xml/filepaths" />-->
		<!--</provider>-->

		<!-- 为了省去filepaths.xml文件，这里使用自定义FileProvider -->
		<provider
			android:name="com.example.content.CustomizedFileProvider"
			android:authorities="${applicationId}.mob_file_provider"
			android:grantUriPermissions="true"
			android:exported="false">
		</provider>
	</application>

</manifest>